*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.students img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.students tbody tr{
    vertical-align: middle;
}
.student_data{
    text-align: center;
}
.student_data img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
